/* You can add global styles to this file, and also import other style files */

// - - - - - - - - - - body - - - - - - - - - -
body {
  background-color: rgb(233, 255, 0);
}

// - - - - - - - - - - tasks, users - - - - - - - - - -
.table th, .table td {
  vertical-align: middle;
}

// - - - - - - - - - - pagination buttons - - - - - - - - - -
.paginationBtn {
  width: 90px;
  background-color: transparent;
  border-color:rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.paginationBtn:hover {
  background-color: rgb(0, 0, 0);
  border-color:rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.pageBtn {
  background-color: transparent;
  border-color:rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.pageBtn:hover {
  background-color: rgb(0, 0, 0);
  border-color:rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.pageBtn.active {
  background-color: rgb(0, 0, 0);
  border-color:rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
