<nav class="navbar navbar-expand-lg bg-black">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/doItNowIcon.png" alt="Logo" width="110" height="60" class="">
    </a>

    <button class="navbar-toggler border border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active text-white" [routerLink]="['/register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!user">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-white" [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!user">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-white" [routerLink]="['/tasks']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="user">Tasks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-white" [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="user">Users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-white" [routerLink]="['/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="user">Profile</a>
        </li>

      </ul>

      <div class="text-white me-3" *ngIf="user">Hello <strong>{{user.user.name}} {{user.user.surname}}</strong></div>
      <div class="text-white me-2" *ngIf="user"><button type="button" class="btn btn-outline-light" (click)="logout()">Logout</button></div>

    </div>

  </div>
</nav>
