<div class="container">
  <h4 class="mb-3">Tasks</h4>
  <div class="row">
    <div class="col-12">

      <button class="btn btn-success mb-3" (click)="createTask()">Create task</button>

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
            <th>Expiration Date</th>
            <th>Completed</th>
            <th>Details</th>
            <th>Update</th>
            <th>Complete</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index">
            <td>{{pageFirstRow + i}}</td>
            <td>{{task.title}}</td>
            <td>{{task.category}}</td>
            <td>{{task.expirationDate}}</td>
            <td>{{task.completed}}</td>
            <td><button class="btn btn-success" (click)="goToTaskDetails(task.id)">Details</button></td>
            <td><button class="btn btn-success" (click)="updateTask(task.id)">Update</button></td>
            <td><button class="btn btn-success" (click)="completeTask(task.id)">Complete</button></td>
            <td><button class="btn btn-success" (click)="deleteTask(task.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
