<div class="container">
  <h4 class="mb-3">Tasks</h4>
  <div class="row">
    <div class="col-6">

      <button class="btn btn-success mb-3" (click)="createTask()">Create task</button>

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
            <th>Expiration Date</th>
            <th>Completed</th>
            <th>Details</th>
            <th>Update</th>
            <th>Complete</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Category</td>
            <td>Expiration Date</td>
            <td>Completed</td>
            <td>Details</td>
            <td>Update</td>
            <td>Complete</td>
            <td>Delete</td>
          </tr>
        </tbody>
      </table>



    </div>
  </div>
</div>
